
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body> ng-app="homeapp" ng-controller="HomeController">
    <div> 
        <span> Username: </span><input type="text" ng-model="Users.username" />
        <br/>
        <br/>
        <span> Password: </span><input type="password" ng-model="Users.password" />
        <br/>
        <br/>
        <input type="button" value="{{btntext}}" ng-click="login()" />
    </div>
    <script src="~/scripts/angular.min.js"></script>
    <script src="~/scripts/AngularController/Angularhome.js"></script>
</body>
</html>
